{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

    <div class="container mt-3">
        <h1 class="h1 text-center">
            Немного о нас :D
        </h1>
        <p class="text-justify">
            Наша команда ведет разработку генерации картинок по ключевым словам. <br>
        </p>
        <h1 class="h3">
            Наш состав:
        </h1>
        <p class="text-justify">
            - <br>
            - <br>
            - <br>
            - <br>
            - <br>
            ...
        </p>
        <h3 class="h3">
            Наши цели:
        </h3>
        <p class="text-justify">
            - В крайчайшие сроки разработать минимум функционала <br>
            - Правильные архитектурные решение <br>
            - Умение быстро ориентироваться по кодовой базе <br>
        </p>
        <h3 class="h3">
            Наши решения:
        </h3>
        <p class="text-justify">
            - Веб-приложение на Django 4.1 <br>
            - Выбор правильной AI <br>
            - Создание доски на MIRO <br>
        </p>
    </div>

{% endblock %}
