{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container text-center h1">
        <form action="{% url 'main:index' %}" method="post">
            {% csrf_token %}
            <div class="card-body container-fluid">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Extract keywords</label>
                    <textarea class="form-control" name="keys_words" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary container-fluid">Отправить</button>
            </div>
        </form>
    </div>
{% endblock %}
